/comp-lin-alg-course/comp_lin_alg_course.egg-info/
/comp-lin-alg-course/doc/
/comp-lin-alg-course/scripts/
/comp-lin-alg-course/.vs/
/comp-lin-alg-course/.pytest_cache/
/comp-lin-alg-course/.idea/
/clacourse-2020-cw1-Azmat-Habibullah/.idea/
/clacourse-2020-cw1-Azmat-Habibullah/.pytest_cache/
/clacourse-2020-cw1-Azmat-Habibullah/.vs/
/clacourse-2020-cw1-Azmat-Habibullah/.gitignore
/cla-2020-mc-Azmat-Habibullah/.idea/
/cla-2020-mc-Azmat-Habibullah/.pytest_cache/
/cla-2020-cw2-Azmat-Habibullah/.idea/
/cla-2020-cw2-Azmat-Habibullah/.pytest_cache/
